<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.hearc.arcootest" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity_calculatorInfo"
            android:label="@string/title_activity_calculatorInfo" />
        <activity
            android:name=".activity_calculatorResult"
            android:label="@string/title_activity_calculatorResult" />
        <activity
            android:name=".activity_ethylotest"
            android:label="@string/title_activity_ethylotest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_ethylotestResult"
            android:label="@string/title_activity_ethylotestResult"/>

    </application>

</manifest>
